:root{
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pixles{
    max-height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* main background image formatting */

.header {
    font-family: var(--font);
    background-color: black;
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: black;
    background-color: white;
    text-transform: uppercase;
    padding-left: 10px;
    margin-left: 0px;
}
/* makes my name stay to the left of the page and look like a tab in all upper case  */
.header nav{
    padding-top: 15px;
    padding-right: 20px;
    float: right;
    font-size: 30px;
    background-color: black;
    text-transform: uppercase;
}
.header nav ul li{
    display: inline-block;
    padding: 2px;
}
/* displays my nav bar across the top of the page  */
a{
    text-decoration: none;
    color: white;
}
/* make a tags simple */

h2{
    color: black;
    font-family: var(--font);
    font-size: 50px;
    text-align: right;
}

p{
    color: black;
    font-family: var(--font);
    font-size: 18px;
}

.about-me, .work, .contact-me{
    display: flex;
    flex-wrap: wrap;
}
/* wraps my sections so they are even on the page  */
.about-me h2, .work h2, .contact-me h2{
    width: 27%;
    margin: 10px;
    padding-right: 10px;
    border-right: black solid 3px;
    text-transform: uppercase;
}
/* makes all my headers look the same  */

.about-me p{
    max-width: 800px;
    margin-top: 20px;
    margin-left: 20px;
    text-transform: lowercase;
}

#work a{
    border: 3px solid black;
    background-color: white;
    color: grey;
    display: flex;
    align-items: flex-end;
    padding: 0px;
    margin: 10px;
    text-decoration: none;
    background-size: 150%;
    position: relative;
    flex-direction: column;
}
/* how my a tags are lined up in a */
#work a img{
    max-height: 200px;
    max-width: 800px;
}
#work a h3{
    position: absolute;
    z-index: 1;
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-family: var(--font);
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}
/* how to get the headers over the pictures so that you know what they are  */
.work div{
    display: inline-flex;
    flex-direction: wrap;
    justify-content: flex-start;
}
/* how those a tags wrap around eachother within the work section */
footer{
    background-color: black;
    color: white;
    padding: 10px;
}
footer h2{
    color: white;
}
.contact-me div {
    text-align: center;
    width: 67%;
    margin: 10px;
    margin-top: 20px;
    margin-left: 0px;
    font-family: var(--font);
    font-size: 18px;
}
/* how the contact me displays at the bottom */
.contact-me a {
    padding: 25px;
    text-decoration: underline;
    text-align: justify;
    text-transform: uppercase;
}
/* getting the list spaced evenly  */
header a:hover, footer a:hover{
    text-shadow: 8px 8px 12px whitesmoke;
}
/* added a hover element so the user knows what tags they are on  */


@media screen and (max-width: 950px) {
    *{
        margin: 0;
    }
    .header{
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    .header h1{
        padding-left: 15%;
        padding-right: 15%;
    }
    .header nav{
        float: none;
    }
    .header nav ul{
        margin: 0;
    }
    .header nav ul li{
        display: list-item;
        list-style-type: none;
        text-align: center;
    }
    #pixles{
        margin-bottom: 0px;
    }
    .about-me h2, .work h2, .contact-me h2{
        border-right: none;
        border-bottom: black solid 3px;
        text-align: center;
        width: 100%;
    }
    .about-me p{
        text-align: center;
        width: 100%;
    }
    .contact-me div{
        text-align: center;
        width: 100%;
    }
    .contact-me div a{
        display: list-item;
        text-align: center;
        padding: 10px;
    }
    .feature{
        display: flex;
        flex-direction: column;
        width: 100%;
  }
/* this code took a lot of playing around in the inspect feature
it ensures that the website looks good on mobile 
the nav gars condense and the borders fall beneathe the titles
the work projects line up to flow in a colum down  */