main{

}

#pixles{
    max-height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: black;
    background-color: white;
    text-transform: uppercase;
    padding-left: 10px;
    margin-left: 0px;
}
.header nav{
    padding-top: 15px;
    padding-right: 20px;
    float: right;
    font-size: 30px;
    background-color: black;
    text-transform: uppercase;
}
.header nav ul li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
}


h2{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: right;
}

p{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.about-me, .work, .contact-me{
    display: flex;
    flex-wrap: wrap;
}

.about-me h2, .work h2, .contact-me h2{
    width: 27%;
    margin: 10px;
    padding-right: 10px;
    border-right: black solid 3px;
    text-transform: uppercase;
}


.about-me p{
    width: 67%;
    margin-top: 20px;
    margin-left: 20px;
    text-transform: lowercase;
}
.feature{
    display: flex;
    flex-direction: row;
}
.supporting{
    display: flex;
    flex-direction: row;
    margin-left: 372px;
}

#work a{
    border: 3px solid black;
    background-color: white;
    color: grey;
    display: flex;
    align-items: flex-end;
    padding: 0px;
    margin: 10px;
    text-decoration: none;
    background-size: 150%;
    font-size: 20px;
    position: relative;
    flex-direction: column;
}
#work a h3{
    position: absolute;
    z-index: 1;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.contact-me div {
    text-align: justify;
    color: black;
    width: 67%;
    margin: 10px;
    margin-top: 20px;
    margin-left: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.contact-me a {
    padding: 25px;
    color: black;
    text-decoration: underline;
    text-align: justify;
    text-transform: uppercase;
}

@media screen and (max-width: 950px) {
    *{
        margin: 0;
    }
    .header{
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    .header h1{
        padding-left: 15%;
        padding-right: 15%;
    }
    .header nav{
        float: none;
    }
    .header nav ul{
        margin: 0;
    }
    .header nav ul li{
        display: list-item;
        list-style-type: none;
        text-align: center;
    }
    #pixles{
        margin-bottom: 0px;
    }
    .about-me h2, .work h2, .contact-me h2{
        border-right: none;
        border-bottom: black solid 3px;
        text-align: center;
        width: 100%;
    }
    .about-me p{
        text-align: center;
        width: 100%;
    }
    .contact-me div{
        text-align: center;
        width: 100%;
    }
    .contact-me div a{
        display: list-item;
        text-align: center;
        padding: 10px;
    }
    .feature{
        display: flex;
        flex-direction: row;
    }
    .supporting{
        display: flex;
        flex-direction: row;
        margin-left: 0px;
    }
  }
